doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/pure-min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    div.pure-g
      block content
    //- Scripts
    //- Libs
    //- Custom
    script(src='/js/app.js')
    block script