doctype html
html
  head
    title= title
  body
    block content
    //- Scripts
    //- Libs
    script(src="http://localhost:3000/socket.io/socket.io.js")
    //- Custom
    script(src='/js/app.js')
    block script